<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <img style="heigth:350px;" src="http://images6.fanpop.com/image/photos/40000000/Zootopia-Movie-Poster-movie-trailers-40045645-671-404.jpg" alt="...">
            <div class="caption">
                <h3>Movie Name <small>Realease year 2015</small></h3>
                <span class="label label-info ml-1" style="margin-left:2px">Comedy</span>
                <span class="label label-info ml-1" style="margin-left:2px">Anime</span>
                <span class="label label-info ml-1" style="margin-left:2px">Thriller</span>
                <hr >  
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Massa vitae tortor condimentum lacinia. Aliquam faucibus purus in massa tempor nec feugiat
                    nisl pretium. Suspendisse potenti nullam ac tortor vitae purus faucibus ornare suspendisse</p>
                <p>
                
                <br />
                <strong>Director: </strong> <span> Mr Director</span>
                
                <br />
                <strong>Cast: </strong> <span> John doe</span>, <span> Michael </span>, <span> Alpha romae</span>
                    
            </div>
        </div>
    </div>
</div>
