<div class="row border-dark border-success" >
    <div class="col-md-12">
        <div class="thumbnail">

            <img src="{{movie.imagePath}}" alt="{{movie.title}}">
            
            <div class="caption">
                <div class="row" style="margin-bottom:30px;">
                    <div class="col-md-12">
                        <div class="col-md-9">
                            <h3>{{movie.title}} <small>Realease year {{movie.year}}</small></h3>
                            <span class="label label-info ml-1" style="margin-left:2px" 
                                    *ngFor="let g of movie.genre">{{ g }}</span>
                                        
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12 pull-right"appDropdown>
                                <button class="btn btn-primary dropdown-toggle" 
                                >
                                    Manage Post
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li style="cursor: pointer"><a >Add to Cart</a></li>
                                    <li style="cursor: pointer" (click) = "onEditMovie()"><a >Edit</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li style="cursor: pointer"><a ><strong>Delete</strong></a></li>
                                </ul>
                            </div>       
                        </div>
                           
                    </div>
                     
                </div>
               
                <div class="col-md-12" style="padding:15px">
                    <div class="wrap">
                            <span>{{movie.description}}</span>
                    </div>
                </div>  
                    <div class="col-md-12">
                        <strong>Director: </strong> <span>{{movie.directorName}}</span>
                
                        <br />
                        <strong>Cast: </strong> <span *ngFor="let actor of movie.casts">
                            {{ actor.name }},
                        </span>
                    </div>             
            </div>
            
        </div>
    </div>
</div>
